.inline-block { 
    display: inline-block;
    vertical-align: top;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-right: auto;
    word-spacing: 20px;
    font-family: Karla, Arial, sans-serif;
    font-size: 28px;
}

.heroImg {
    height: 1200px;
}

.row {
    display: flex;
  }

.column {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Karla, Arial, sans-serif;
    font-size: 26px;
  }

.h1 {
    font-size: 45px;
    color: gray;
    height: 0px;
}

.name {
    font-size: 85px;
    font-family: architects daughter;
    height: 200px;
}

footer {
    margin: auto;
    width: 50%;
    padding-top: 125px;
    text-align: center;
    color: rgb(43, 37, 37);
    height: 50px;
}

button {
    border-radius: 12px;
    border-color: #00ABA3;
    background-color: #00ABA3;
    margin: 0 auto;
    font-family: Karla, Arial, sans-serif;
    font-size: 30px;
    color: white;
    padding: 25px;
    width: 250px;
}

button:hover {
    background-color: tomato;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-family: Karla, Arial, sans-serif;
    font-size: 16px;  
}