.flexContainer {
    display: flex;
    margin: auto;
    justify-content: space-around;

}

.workGrid {
    display: grid;
    padding: 40px;
    grid-template-rows: 415px 415px;;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
}

.campHorizon {
    background-color: #f4df38;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.listFound {
    background-color: #a2d0c9;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

@media only screen and (max-width: 600){
    .workGrid {
        display: grid;
        padding: 40px;
        grid-template-rows: 683px 683px;
        grid-template-columns: auto auto;
        grid-row-gap: 50px;
}